<!-- New / update user modal -->
<form action="/manage/access/user" method="POST" class="m-0" id="userDetailForm">
  {{ macros.modalHead(name="userDetail", title="New User") }}
  <form>
    <div class="mb-3">
      <label for="username" class="col-form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="johns" required>
    </div>
    <div class="mb-3">
      <label for="email" class="col-form-label">Email</label>
      <input type="text" class="form-control" id="email" name="email" placeholder="johns@example.com" required>
    </div>
    <div class="mb-3" id="password-section">
      <label for="password" class="col-form-label">Password</label> <button type="button" class="btn btn-primary btn-sm m-0 p-0 px-1" onclick="document.getElementById('password').value = randomPassword()">Random</button>
      <input type="text" class="form-control" id="password" name="password" placeholder="Password" required>
    </div>
    <div class="mb-3">
      <label for="message-text" class="col-form-label">Role</label>
      <select class="selectpicker form-control" multiple data-live-search="true" title="Role(s)" data-style="" data-style-base="form-control" data-live-search-placeholder="Search..." data-width="auto" name="roles" id="roles">
        {% for role in roles %}
        <option>{{ role.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="message-text" class="col-form-label">Assessments</label>
      <select class="selectpicker form-control" multiple data-live-search="true" title="Assessment(s)" data-style="" data-style-base="form-control" data-live-search-placeholder="Search..." data-width="auto" name="assessments" id="assessments">
        {% for assessment in assessments %}
        <option>{{ assessment.name }}</option>
        {% endfor %}
      </select>
    </div>
  </form>
  {{ macros.modalTail(name="userDetail", cancelLabel="Close", actionLabel="Create") }}
</form>

<!-- Confirm delete user modal -->
{{ macros.modalHead(name="delUser", title="Delete User") }}
<div class="mb-3" id="delUserWarning">ERROR</div>
{{ macros.modalTail(name="delUser", cancelLabel="No", actionLabel="Delete") }}