{% extends "master.html" %}
{% block content %}

{% include 'access_modals.html' %}

<div class="m-2 mt-0">
	<div id="toolbar">
		<p class="d-inline-block" style="font-size:1.3em;margin: 0 10px 0 5px;font-weight:bold">Access</p>
		<button id="add" class="btn btn-primary" onclick="newUserModal()">New User</button>
	</div>
	<table data-toggle="table" data-toolbar="#toolbar" data-search="true" data-show-search-clear-button="true" data-unique-id="id" data-id-field="id" id="userTable" style="display: none">
		<thead>
			<tr class="tr-class-1">
				<th data-field="id" data-visible="false">ID</th>
				<th data-field="username" data-valign="middle" data-sortable="true">Username</th>
				<th data-field="email" data-sortable="true">Email</th>
				<th data-field="roles">Roles</th>
				<th data-field="last-login" data-sortable="true">Last Login</th>
				<th data-field="assessments">Assessments</th>
				<th data-field="actions" data-formatter="actionFormatter" class="text-center">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr data-title="bootstrap table" data-object='{"key": "value"}'>
				<td>{{ user.id }}</td>
				<td>{{ user.username }}</td>
				<td>{{ user.email }}</td>
				<td>{{ user.roles | map(attribute='name') | join(', ') or "-" }}</td>
				<td>{{ user.last_login_at or "-" }}{% if user.last_login_at %} ({{ user.current_login_ip or user.last_login_ip }}){% endif %}</td>
				<td>{% if 'Admin' in (user.roles | map(attribute='name')) %}*{% elif user.assessments %}{{ (user.assessments | map(attribute='name') | join(', ')) }}{% else %}-{% endif %}</td>
				<td>{{ user.username }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<script src="/static/scripts/access.js"></script>
<script src="/static/scripts/access.random_pass.js"></script>

{% endblock %}