{% extends "master.html" %}
{% block content %}

{% include 'templates/assessment.toasts.html' %}

{% include 'templates/assessment.modals.html' %}

<div class="m-2 mt-0">
    <div id="toolbar">
        <p class="d-inline-block" style="font-size:1.3em;margin: 0 10px 0 5px;font-weight:bold">{{ ass.name }}</p>
        {% if not current_user.has_role("Blue") %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                New...
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#newtestcase">Test Case</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#templatesModal">Test Case From Template</a></li>
            </ul>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Import...
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#mitreImportModal">Mitre ATT&CK Layer</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#templateModal">Testcase Template</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                Export...
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/assessment/export/json/{{ ass.id }}">Results as JSON</a></li>
                <li><a class="dropdown-item" href="/assessment/export/csv/{{ ass.id }}">Results as CSV</a></li>
                {% if not current_user.has_role("Blue") %}
                <li><a class="dropdown-item" href="/assessment/export/template/{{ ass.id }}">Assessment Template</a></li>
                <li><a class="dropdown-item" href="/assessment/export/entire/{{ ass.id }}">Entire Assessment</a></li>
                {% endif %}
                <div id="selected-dropdown" style="display:none">
                    <li><a class="dropdown-item" href="/assessment/export/json/{{ ass.id }}" id="selected-json" data-id="{{ ass.id }}">Selected Results as JSON</a></li>
                    <li><a class="dropdown-item" href="/assessment/export/csv/{{ ass.id }}" id="selected-csv">Selected Results as CSV</a></li>
                    {% if not current_user.has_role("Blue") %}
                    <li><a class="dropdown-item" href="/assessment/export/template/{{ ass.id }}" id="selected-template">Selected Assessment Template</a></li>
                    <li><a class="dropdown-item" href="/assessment/export/atomics/{{ ass.id }}" id="selected-atomics">Selected Testcase Templates</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
        {% if not current_user.has_role("Blue") %}
        <div class="btn-group" id="bulk-dropdown" style="display:none">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Bulk...
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" onclick="visibleTest(event, selectedIds)">Toggle Testcase Visibility</a></li>
                <li><a class="dropdown-item" href="#" onclick="deleteTest(event, selectedIds)">Delete Testcases</a></li>
                <li><a class="dropdown-item" href="#" onclick="$('#table').bootstrapTable('uncheckAll')">Clear Selection</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="btn-group">
            <a type="button" class="btn btn-primary" href="/assessment/stats/{{ ass.id }}">Statistics</a>
        </div>
        <span id="selected-count" class="ms-1"></span>
    </div>
    <table data-toggle="table" data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-search-highlight="true" data-show-search-clear-button="true" data-filter-control="true" id="table" data-click-to-select="true" data-maintain-meta-data="true" data-sort-name="start" data-sort-order="asc" data-detail-view="true" data-detail-formatter="testcaseFormatter" data-silent-sort="false" style="display:none;" data-cookie="true" data-cookie-id-table="assessmentSave">
        <thead>
            <tr class="tr-class-1">
                <th data-field="add" data-checkbox="true" data-sortable="true">Add</th>
                <th data-field="id" data-visible="false" data-switchable="false">ID</th>
                <th data-field="mitreid" data-sortable="true" data-width="10" data-width-unit="%" data-filter-control="input">Mitre ID</th>
                <th data-field="name" data-sortable="true" data-filter-control="input">Name</th>
                <th data-field="tactic" data-sortable="true" data-width="15" data-width-unit="%" data-filter-control="select">Tactic</th>
                <th data-field="state" data-sortable="true" data-width="15" data-width-unit="%" data-filter-control="select">State</th>
                <th data-field="tags" data-width="15" data-width-unit="%" data-filter-control="input">Tags</th>
                <th data-field="start" data-sortable="true" data-width="10" data-width-unit="%" data-visible="false" data-filter-control="input">Start</th>
                <th data-field="modify" data-sortable="true" data-width="10" data-width-unit="%" data-visible="false" data-filter-control="input">Modified</th>
                <th data-field="preventscore" data-sortable="true" data-width="10" data-width-unit="%" data-visible="false" data-filter-control="input">Prevention</th>
                <th data-field="detectscore" data-sortable="true" data-width="10" data-width-unit="%" data-visible="false" data-filter-control="input">Detection</th>
                <th data-field="outcome" data-sortable="true" data-width="10" data-width-unit="%" data-visible="false" data-filter-control="input">Outcome</th>
                <th data-field="actions" class="text-center" data-width="10" data-width-unit="%" data-switchable="false"{% if current_user.has_role("Blue") %} data-visible="false"{% endif %}>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr data-title="bootstrap table" data-object='{"key": "value"}' id="row-#ID#">
                <td></td>
                <td>#ID#</td>
                <td>#MITREID#</td>
                <td id="td-id-1" class="td-class-1" data-title="bootstrap table">
                    <span style="display:none">#NAME#</span>
                    <a href="/testcase/run/#ID#">#NAME#</a>
                </td>
                <td>#PHASE#</td>
                <td class="bg-light">Pending (Hidden)</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-info py-0" onclick="visibleTest(event, [`#ID#`])" title="Toggle Visiblity">
                            <i class="bi-eye">&zwnj;</i>
                        </button>
                        <button type="button" class="btn btn-warning py-0" onclick="cloneTest(event, '#ID#')" title="Clone">
                            <i class="bi-files">&zwnj;</i>
                        </button>
                        <button type="button" class="btn btn-warning py-0"  title="Reset" onclick="resetTest(event, `#ID#`)">
                            <i class="bi-arrow-clockwise">&zwnj;</i>
                        </button>
                        <button type="button" class="btn btn-danger py-0" onclick="new bootstrap.Toast(document.querySelector('#deleteToast')).show();" oncontextmenu="deleteTest(event, [`#ID#`])" title="Delete">
                            <i class="bi-trash-fill">&zwnj;</i>
                        </button>
                    </div>
                </td>
            </tr>
            {% for t in tests %}
            {% if not (current_user.has_role("Blue") and t.visible == false) %}
            <tr data-title="bootstrap table" data-object='{"key": "value"}' id="row-{{t.id}}">
                <td></td>
                <td>{{ t.id }}</td>
                <td>{{ t.mitreid }}</td>
                <td id="td-id-1" class="td-class-1" data-title="bootstrap table">
                    <span style="display:none">{{ t.name }}</span>
                    <a href="/testcase/run/{{t.id}}">{{ t.name }}</a>
                    
                    {% if not t.kbentry and not current_user.has_role("Blue") %}
                    <span class="badge bg-danger" onclick="filterBadge(event, this)" style="cursor: pointer">No KB</span>
                    {% endif %}
                    {% if t.state == "Complete" %}
                        {% if not current_user.has_role("Blue") %}
                        <!-- Badges for RED -->
                            {% if t.visible == false %}
                            <span class="badge bg-danger" onclick="filterBadge(event, this)" style="cursor: pointer">Hidden</span>
                            {% endif %}
                            {% if not t.blockedrating and not t.detectionrating %}
                            <span class="badge bg-warning" onclick="filterBadge(event, this)" style="cursor: pointer">No Score(s)</span>
                            {% endif %}
                            {% if not t.actions %}
                            <span class="badge bg-danger" onclick="filterBadge(event, this)" style="cursor: pointer">No Command</span>
                            {% endif %}
                            {% if not t.redfiles %}
                            <span class="badge bg-warning" onclick="filterBadge(event, this)" style="cursor: pointer">No Red Files</span>
                            {% endif %}
                            {% if not t.sources %}
                            <span class="badge bg-warning" onclick="filterBadge(event, this)" style="cursor: pointer">No Source</span>
                            {% endif %}
                            {% if not t.targets %}
                            <span class="badge bg-warning" onclick="filterBadge(event, this)" style="cursor: pointer">No Target</span>
                            {% endif %}
                            {% if not t.tools %}
                            <span class="badge bg-warning" onclick="filterBadge(event, this)" style="cursor: pointer">No Tools</span>
                            {% endif %}
                        {% endif %}
                        <!-- Badges for ALL -->
                        {% if not t.bluefiles %}
                        <span class="badge bg-warning" onclick="filterBadge(event, this)" style="cursor: pointer">No Blue Files</span>
                        {% endif %}
                        {% if not t.controls %}
                        <span class="badge bg-warning" onclick="filterBadge(event, this)" style="cursor: pointer">No Controls</span>
                        {% endif %}
                        {% if not t.bluenotes %}
                        <span class="badge bg-warning" onclick="filterBadge(event, this)" style="cursor: pointer">No Observations</span>
                        {% endif %}
                        {% if t.logged == "" or t.blocked == "" %}
                        <span class="badge bg-warning" onclick="filterBadge(event, this)" style="cursor: pointer">Incomplete Scoring</span>
                        {% endif %}
                    {% endif %}
                </td>
                <td>{{ t.phase }}</td>
                <td class="{% if t.state == 'Pending' %}bg-light{% endif %}{% if t.state == 'In progress' %}bg-warning{% endif %}{% if t.state == 'Complete' %}bg-primary{% endif %}">{{ t.state }}{% if not t.visible == true %} (Hidden){% endif %}</td>
                <td>
                {% for tag in t.tags %}
                    {% for t in ass.tags if t.id|string == tag %}
                    <span class='badge rounded-pill' style="background:{{ t.colour }}; cursor:pointer" onclick="filterTag(event, this)">{{ t.name }}</span>
                    {% endfor %}
                {% endfor %}
                </td>

                <!-- Optionals -->
                <td>{{ t.starttime or "-" }}</td>
                <td>{{ t.modifytime or "-" }}</td>
                <td style='background-color: {{ {"0.0": "#FB6B64", "0.5": "#FB6B64", "1.0": "#FCC000", "1.5": "#FCC000", "2.0": "#FDD964", "2.5": "#FDD964", "3.0": "#B8DF43", "3.5": "#B8DF43", "4.0": "#C8DFFF", "4.5": "#C8DFFF", "5.0": "#C8DFFF", "N/A": "#fff", "-": "#fff"}[t.blockedrating or "-"] }}'>{{ t.blockedrating or "-" }}</td>
                <td style='background-color: {{ {"0.0": "#FB6B64", "0.5": "#FB6B64", "1.0": "#FCC000", "1.5": "#FCC000", "2.0": "#FDD964", "2.5": "#FDD964", "3.0": "#B8DF43", "3.5": "#B8DF43", "4.0": "#C8DFFF", "4.5": "#C8DFFF", "5.0": "#C8DFFF", "N/A": "#fff", "-": "#fff"}[t.detectionrating or "-"] }}'>{{ t.detectionrating or "-" }}</td>
                <td style='background-color: {% if t.blocked == "Yes" %}#C8DFFF{% elif t.alerted == "Yes" %}#C8DFFF{% elif t.logged == "Yes" %}#B8DF43{% elif t.state == "Complete" %}#FB6B64{% else %}#fff{% endif %}'>{% if t.blocked == "Yes" %}Blocked{% elif t.alerted == "Yes" %}Alerted{% elif t.logged == "Yes" %}Logged{% elif t.state == "Complete" %}Blind{% else %}Pending{% endif %}</td>

                <td>
                    <div class="btn-group btn-group-sm" role="group">
                        <button type="button" class="btn btn-info py-0" onclick="visibleTest(event, [`{{t.id}}`])" title="Toggle Visiblity">
                            <i class="bi-eye">&zwnj;</i>
                        </button>
                        <button type="button" class="btn btn-warning py-0" onclick="cloneTest(event, '{{t.id}}')" title="Clone">
                            <i class="bi-files">&zwnj;</i>
                        </button>
                        <button type="button" class="btn btn-warning py-0"  title="Reset" onclick="resetTest(event, `{{t.id}}`)">
                            <i class="bi-arrow-clockwise">&zwnj;</i>
                        </button>
                        <button type="button" class="btn btn-danger py-0" onclick="new bootstrap.Toast(document.querySelector('#deleteToast')).show();" oncontextmenu="deleteTest(event, [`{{t.id}}`]); return false;" title="Delete">
                            <i class="bi-trash-fill">&zwnj;</i>
                        </button>
                    </div>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="hex">
    <object id="mitre-hexs" data="/static/images/mitre-hexagons.svg" type="image/svg+xml" style="display:block; margin:0 auto;width: 600px;opacity: 0;"></object>
</div>

<script src="/static/scripts/assessment.assessment.js"></script> 

{% endblock %}