{% extends "master.html" %}
{% block content %}

{% include 'assessment_modals.html' %}

<div class="m-2 mt-0">
    <div id="toolbar">
        <p class="d-inline-block" style="font-size:1.3em;margin: 0 10px 0 5px;font-weight:bold">{{ ass.name }}</p>
        {% if not current_user.has_role("Blue") %}
        <button id="newTestcase" class="btn btn-primary">New</button>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Import...</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#testcaseTemplatesModal">Testcase(s) From Template</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#testcaseNavigatorModal">Mitre ATT&CK Navigator Layer</a></li>
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#testcaseCampaignModal">Campaign Template</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Export...</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="/assessment/export/json/{{ ass.id }}">Results as JSON</a></li>
                <li><a class="dropdown-item" href="/assessment/export/csv/{{ ass.id }}">Results as CSV</a></li>
                {% if not current_user.has_role("Blue") %}
                <li><a class="dropdown-item" href="/assessment/export/template/{{ ass.id }}">Assessment Template</a></li>
                <li><a class="dropdown-item" href="/assessment/export/entire/{{ ass.id }}">Entire Assessment</a></li>
                {% endif %}
                <div id="selected-dropdown" style="display:none">
                    <li><a class="dropdown-item" href="/assessment/export/json/{{ ass.id }}" id="selected-json" data-id="{{ ass.id }}">Selected Results as JSON</a></li>
                    <li><a class="dropdown-item" href="/assessment/export/csv/{{ ass.id }}" id="selected-csv">Selected Results as CSV</a></li>
                    {% if not current_user.has_role("Blue") %}
                    <li><a class="dropdown-item" href="/assessment/export/template/{{ ass.id }}" id="selected-template">Selected Assessment Template</a></li>
                    <li><a class="dropdown-item" href="/assessment/export/atomics/{{ ass.id }}" id="selected-atomics">Selected Testcase Templates</a></li>
                    {% endif %}
                </div>
            </ul>
        </div>
        {% if not current_user.has_role("Blue") %}
        <div class="btn-group" id="bulk-dropdown" style="display:none">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Bulk...</button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#" onclick="visibleTest(event, selectedIds)">Toggle Testcase Visibility</a></li>
                <li><a class="dropdown-item" href="#" onclick="deleteTest(event, selectedIds)">Delete Testcases</a></li>
                <li><a class="dropdown-item" href="#" onclick="$('#table').bootstrapTable('uncheckAll')">Clear Selection</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="btn-group">
            <a type="button" class="btn btn-secondary" href="/assessment/stats/{{ ass.id }}">Statistics</a>
        </div>
        <span id="selected-count" class="ms-1"></span>
    </div>
    <table data-toggle="table" data-toolbar="#toolbar" data-search="true" data-show-columns="true" data-search-highlight="true" data-show-search-clear-button="true" data-filter-control="true" id="assessmentTable" data-click-to-select="true" data-maintain-meta-data="true" data-sort-name="start" data-sort-order="asc" data-silent-sort="false" style="display:none;" data-cookie="true" data-cookie-id-table="assessmentSave" data-unique-id="id" data-id-field="id" >
        <thead>
            <tr class="tr-class-1">
                <th data-field="add" data-checkbox="true" data-sortable="true">Add</th>
                <th data-field="id" data-visible="false" data-switchable="false">ID</th>
                <th data-field="mitreid" data-sortable="true" data-width="10" data-width-unit="%" data-filter-control="input">Mitre ID</th>
                <th data-field="name" data-sortable="true" data-filter-control="input" data-formatter="nameFormatter">Name</th>
                <th data-field="tactic" data-sortable="true" data-width="15" data-width-unit="%" data-filter-control="select">Tactic</th>
                <th data-field="state" data-sortable="true" data-width="15" data-width-unit="%" data-filter-control="select">State</th>
                <th data-field="tags" data-width="15" data-width-unit="%" data-filter-control="input" data-formatter="tagFormatter">Tags</th>
                <th data-field="start" data-sortable="true" data-width="10" data-width-unit="%" data-visible="false" data-filter-control="input">Start</th>
                <th data-field="modified" data-sortable="true" data-width="10" data-width-unit="%" data-visible="false" data-filter-control="input">Modified</th>
                <th data-field="preventscore" data-sortable="true" data-width="10" data-width-unit="%" data-visible="false" data-filter-control="input">Prevention</th>
                <th data-field="detectscore" data-sortable="true" data-width="10" data-width-unit="%" data-visible="false" data-filter-control="input">Detection</th>
                <th data-field="outcome" data-sortable="true" data-width="10" data-width-unit="%" data-visible="false" data-filter-control="input">Outcome</th>
                <th data-field="actions" class="text-center" data-width="10" data-width-unit="%" data-switchable="false"{% if current_user.has_role("Blue") %} data-visible="false"{% endif %} data-formatter="actionFormatter">Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for t in testcases %}
            {% if not (current_user.has_role("Blue") and t.visible == false) %}
            <tr data-title="bootstrap table" data-object='{"key": "value"}' id="{{ t.id }}">
                <td></td>
                <td>{{ t.id }}</td>
                <td>{{ t.mitreid }}</td>
                <td>{{ t.name }}</td>
                <td>{{ t.tactic }}</td>
                <td>{{ t.state }}</td>
                <td>{{ t.tags | join(",") }}</td>
                <td>{{ t.starttime or "-" }}</td>
                <td>{{ t.modifytime or "-" }}</td>
                <td>{{ t.preventedrating or "-" }}</td>
                <td>{{ t.detectionrating or "-" }}</td>
                <td>{% if t.prevented == "Yes" %}Prevented{% elif t.alerted == "Yes" %}Alerted{% elif t.logged == "Yes" %}Logged{% elif t.state == "Complete" %}Blind{% else %}Pending{% endif %}</td>
                <td></td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="hex">
    <object id="mitre-hexs" data="/static/images/mitre-hexagons.svg" type="image/svg+xml" style="display:block; margin:0 auto;width: 600px;opacity: 0;"></object>
</div>

<script src="/static/scripts/assessment.js"></script> 
<!-- <script src="/static/scripts/assessment.stats.js"></script>  -->
<!-- <script>tacticStats = {{ stats | safe }}</script> -->

{% endblock %}