{% extends "master.html" %}
{% block content %}

<div id="toolbar" class="m-2">
    <div class="btn-group">
        <a type="button" class="btn btn-primary" href="/assessment/{{ assid }}">Back to Assessment</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row mt-3">
        <div id="resultspie"></div>
    </div>
    <hr />
    <div class="row mt-3">
        <div id="results"></div>
    </div>
    <hr />
    <div class="row">
        <div id="alerts"></div>
    </div>
    <hr />
    <div class="row">
        <div id="priorities"></div>
    </div>
    <hr />
    <div class="row">
        <div id="controls"></div>
    </div>
    <hr />
    <div class="row">
        <div id="scores"></div>
    </div>
    <div class="hex">
        <h6>MITRE ATT&amp;CK Chain</h6>
        <object id="mitre-hexs" data="/static/images/mitre-hexagons.svg" type="image/svg+xml" style="display:block; margin:0 auto;width: 600px;opacity: 0"></object>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/static/scripts/assessment.stats.js"></script>

{% endblock %}