<!-- Delete assessment Toast -->
{{ macros.toast(title="Assessment Delete") }}

<!-- Clone assessment Toast -->
{{ macros.toast(title="Cloned") }}

<!-- Create/edit assessment modal -->
<form action="/assessment" method="POST" class="m-0" id="newAssessmentForm"></form>
	{{ macros.modalHead(name="newAssessment", title="New Assessment") }}
	<form>
		<div class="mb-3">
			<label class="col-form-label">Name</label>
			<input type="text" class="form-control" name="name" placeholder="Annual ACME Purple Team" id="name" autocomplete="off">
		</div>
		<div class="mb-3">
			<label class="col-form-label">Description</label>
			<textarea class="form-control" name="description" placeholder="The purpose of this engagement is to..." required id="description" autocomplete="off"></textarea>
		</div>
	</form>
	{{ macros.modalTail(name="newAssessment", cancelLabel="Cancel", actionLabel="Create") }}
</form>

<!-- Delete assessment confirmation modal -->
{{ macros.modalHead(name="deleteAssessment", title="Delete User") }}
<div class="mb-3" id="deleteAssessmentWarning">ERROR</div>
{{ macros.modalTail(name="deleteAssessment", cancelLabel="No", actionLabel="Delete") }}

<!-- import ass modal -->
<form action="/assessment/import/entire" enctype="multipart/form-data" method="POST" class="m-0">
	{{ macros.modalHead(name="importAssessment", title="Import Assessment") }}
	<div class="mb-3">
		<p>Select the <code>Assessment.zip</code> file output from <code>Export > Entire Assessment</code>.</p>
		<input class="form-control" type="file" id="formFile" name="file" accept=".zip,application/zip" autocomplete="false">
	</div>
	{{ macros.modalTail(name="deleteAssessment", cancelLabel="Cancel", actionLabel="Import") }}
</form>
