<!-- New Test Modal-->
<form action="/testcase/{{ assessment.id }}/single" method="POST" class="m-0" id="newTestcaseForm">
    {{ macros.modalHead(name="newTestcase", title="New Testcase") }}
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Descriptive testcase name" required>
    </div>
    <div class="mb-3">
        <label for="mitreid" class="form-label">Mitre ID</label>
        <br/>
        <select class="selectpicker form-control border" data-live-search="true" data-size="10" name="mitreid" id="mitreid" required>
            {% for mitre in mitres %}
            <option data-subtext="{{ mitre[1] }}">{{ mitre[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="tactic" class="form-label">Tactic</label>
        <select id="tactic" name="tactic" class="form-label form-select" required>
            <option value="none" selected disabled hidden>Select...</option>
            {% for tactic in tactics %}
            <option value="{{ tactic }}">{{ tactic }}</option>
            {% endfor %}
        </select>
    </div>
    {{ macros.modalTail(name="newTestcase", cancelLabel="Close", actionLabel="Create") }}
</form>

<!-- Select testcases from templates modal -->
{{ macros.modalHead(name="testcaseTemplates", title="Select Testcase", xl=True) }}
<div class="mb-3">
    <table id="testcaseTemplateTable" data-toggle="table" data-search="true" data-click-to-select="true" data-maintain-meta-data="true" data-sort-name="add" data-sort-order="desc" data-filter-control="true" data-show-search-clear-button="true" data-height="600" data-silent-sort="false" data-pagination="true">
        <thead>
            <tr>
                <th data-field="add" data-checkbox="true" data-sortable="true">Add</th>
                <th data-field="src" id="nameField" data-filter-control="select">Src</th>
                <th data-field="tactic" data-sortable="true" data-filter-control="select">Tactic</th>
                <th data-field="technique">Technique</th>
                <th data-field="title">Title</th>
                <th data-field="id" data-visible="false">ID</th>
            </tr>
        </thead>
        <tbody>
            {% for template in templates %}
            <tr data-title="bootstrap table" data-object='{"key": "value"}' data-uniqueid="{{ template.id }}">
                <td></td>
                <td>{{ template.provider }}</td>
                <td>{{ template.tactic }}</td>
                <td>{{ template.mitreid }}<!-- TODO mitre tactic name --></td>
                <td>{{ template.name }}</td>
                <td>{{ template.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ macros.modalTail(name="testcaseTemplates", cancelLabel="Cancel", actionLabel="Add Selected") }}

<!-- Import MITRE Navigator Modal -->
<form action="/assessment/{{ assessment.id }}/import/navigator" enctype="multipart/form-data" method="POST" class="m-0" id="navigatorTemplateForm">
    {{ macros.modalHead(name="testcaseNavigator", title="Import MITRE Layer") }}
    <div class="mb-3">
        <label for="formFile" class="form-label">Select your threat actor / ad-hoc TTP at <a href="https://mitre-attack.github.io/attack-navigator/" target="_blank">the Mitre ATT&CK Navigator</a> &gt; <code>Download Controls</code> &gt; <code>Download Layer as JSON</code>.</label>
        <input class="form-control" type="file" id="formFile" name="file" accept=".json,application/json">
    </div>
    {{ macros.modalTail(name="testcaseNavigator", cancelLabel="Close", actionLabel="Import") }}
</form>

<!-- Import Campaign Modal -->
<form action="/assessment/{{ assessment.id }}/import/campaign" enctype="multipart/form-data" method="POST" class="m-0" id="campaignTemplateForm">
    {{ macros.modalHead(name="testcaseCampaign", title="Import Campaign Template") }}
    <div class="mb-3">
        <label for="campaignFile" class="form-label">Import Campaign from <code>Export</code> &gt; <code>Campaign Template</code>.</label>
        <input class="form-control" type="file" id="campaignFile" name="file" accept=".json,application/json">
    </div>
    {{ macros.modalTail(name="testcaseCampaign", cancelLabel="Close", actionLabel="Import") }}
</form>

<!-- Template Modal -->
<form action="/assessment/{{ assessment.id }}/export/report" enctype="multipart/form-data" method="POST" class="m-0" id="exportReportForm">
    {{ macros.modalHead(name="exportReport", title="Generate Engagement Report") }}
    <div class="mb-3">
        <p>Select the report below.</p>
        <select id="report" name="report" class="form-label form-select" required autocomplete="off">
            <option value="none" selected disabled hidden>Select...</option>
            {% for report in reports %}
            <option value="{{ report }}">{{ report }}</option>
            {% endfor %}
        </select>
    </div>
    {{ macros.modalTail(name="exportReport", cancelLabel="Close", actionLabel="Generate") }}
</form>

<!-- Delete testcase confirmation modal -->
{{ macros.modalHead(name="deleteTestcase", title="Delete Testcase") }}
<div class="mb-3" id="deleteTestcaseWarning">ERROR</div>
{{ macros.modalTail(name="deleteTestcase", cancelLabel="No", actionLabel="Delete") }}

<!-- import variables modal -->
<form action="" class="m-0" id="variablesForm">
    {{ macros.modalHead(name="variables", title="Import Variables") }}
    <div class="mb-3">
        <label for="variablesFile" class="form-label">Import Variables from <code>Json File</code>.</label>
        <input type="file" id="variablesFile" name="file" accept=".json,application/json">
    </div>
    {{ macros.modalTail(name="variables", cancelLabel="Close", actionLabel="Import") }}
</form>
