<!-- Delete assessment Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	<div id="deleteToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header">
			<strong class="me-auto">Success</strong>
			<small>Just now</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			Assessment deleted.
		</div>
	</div>
</div>

<!-- Cloning assessment Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
<div id="cloningToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-header">
		<strong class="me-auto">Cloning...</strong>
		<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
	</div>
</div>
</div>

<!-- Cloned assessment Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
<div id="cloneToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
	<div class="toast-header">
		<strong class="me-auto">Cloned</strong>
		<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
	</div>
</div>
</div>