<!-- Cloning test Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="cloningToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Cloning...</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
  </div>
  
<!-- Cloned test Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
<div id="cloneToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">Cloned</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
</div>

<!-- Cloned test Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
<div id="resetToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">Reset testcase</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
</div>

<!-- Confirm delete Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
<div id="deleteToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">Testcase not deleted, instead, right click delete to confirm</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
</div>

<!-- Delete Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="deleteToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Success</strong>
            <small>Just now</small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Test case deleted.
        </div>
    </div>
</div>