{% extends "master.html" %}
{% block content %}

{% include 'assessments_modals.html' %}

<div class="m-2 mt-0">
<div id="toolbar">
  <p class="d-inline-block" style="font-size:1.3em;margin: 0 10px 0 5px;font-weight:bold">Assessments</p>
  {% if current_user.has_role("Admin") or current_user.has_role("Red") %}
  <button id="newAssessment" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newAssessmentModal">New Assessment</button>
  <button id="importAssessment" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#importAssessmentModal">Import Assessment</button>
  {% endif %}
</div>

<table data-toggle="table" data-toolbar="#toolbar" data-search="true" data-show-search-clear-button="true" id="assessmentsTable" data-unique-id="id" data-id-field="id" style="display: none">
  <thead>
    <tr class="tr-class-1">
      <th data-field="id" data-visible="false">ID</th>
      <th data-field="name" data-sortable="true" data-width="20" data-width-unit="%" data-formatter="nameFormatter">Name</th>
      <th data-field="description" data-sortable="true" data-width="35" data-width-unit="%">Description</th>
      <th data-field="progress" data-sortable="true" data-width="15" data-width-unit="%" class="text-center" data-formatter="progressFormatter">Progress</th>
      <th data-field="actions" data-width="15" data-width-unit="%" class="text-center"{% if not (current_user.has_role("Admin") or current_user.has_role("Red")) %} data-visible="false"{% endif %} data-formatter="actionFormatter">Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for a in assessments %}
    {% if a.id in current_user.assessment_list() %}
    <tr data-title="bootstrap table" data-object='{"key": "value"}' id="{{ a.id }}">
      <td>{{ a.id }}</td>
      <td>{{ a.name }}</td>
      <td>{{ a.description or "-" }}</td>
      <td>{{ a.get_progress() }}</td>
      <td></td>
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>
</div>

<script src="/static/scripts/assessments.js"></script>

{% endblock %}
