<!-- Cloned test Toast -->
{{ macros.toast(title="Cloned") }}

<!-- Testcase Reset Toast -->
{{ macros.toast(title="Testcase Reset") }}

<!-- Testcase Delete Toast -->
{{ macros.toast(title="Testcase Deleted") }}

<!-- New Test Modal-->
<form action="/testcase/single" method="POST" class="m-0" id="newTestcaseForm">
    {{ macros.modalHead(name="newTestcase", title="New Testcase") }}
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Descriptive testcase name" required>
    </div>
    <div class="mb-3">
        <label for="mitreid" class="form-label">Mitre ID</label>
        <br/>
        <select class="selectpicker form-control border" data-live-search="true" data-size="10" name="mitreid" id="mitreid" required>
            {% for mitre in mitres %}
            <option data-subtext="{{ mitre[1] }}">{{ mitre[0] }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="tactic" class="form-label">Tactic</label>
        <select id="tactic" name="tactic" class="form-label form-select" required>
            <option value="none" selected disabled hidden>Select...</option>
            {% for tactic in tactics %}
            <option value="{{ tactic }}">{{ tactic }}</option>
            {% endfor %}
        </select>
    </div>
    {{ macros.modalTail(name="newTestcase", cancelLabel="Close", actionLabel="Create") }}
</form>

<!-- Select testcases from templates modal -->
{{ macros.modalHead(name="testcaseTemplates", title="Select Testcase", xl=True) }}
<div class="mb-3">
    <table id="testcaseTemplateTable" data-toggle="table" data-search="true" data-click-to-select="true" data-maintain-meta-data="true" data-sort-name="add" data-sort-order="desc" data-filter-control="true" data-show-search-clear-button="true" data-height="600" data-silent-sort="false" data-pagination="true">
        <thead>
            <tr>
                <th data-field="add" data-checkbox="true" data-sortable="true">Add</th>
                <th data-field="src" id="nameField" data-filter-control="select">Src</th>
                <th data-field="tactic" data-sortable="true" data-filter-control="select">Tactic</th>
                <th data-field="technique">Technique</th>
                <th data-field="title">Title</th>
                <th data-field="html" data-visible="false">Details</th>
                <th data-field="id" data-visible="false">ID</th>
            </tr>
        </thead>
        <tbody>
            {% for template in templates %}
            <tr data-title="bootstrap table" data-object='{"key": "value"}' data-uniqueid="{{ template.id }}">
                <td></td>
                <td>{{ template.provider }}</td>
                <td>{{ template.tactic }}</td>
                <td>{{ template.mitreid }}<!-- TODO mitre tactic name --></td>
                <td>{{ template.name }}</td>
                <td>{{ template.html|safe }}</td>
                <td>{{ template.id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{{ macros.modalTail(name="testcaseTemplates", cancelLabel="Cancel", actionLabel="Add Selected") }}

<!-- MITRE Modal -->
<form action="/testcase/import/navigator" enctype="multipart/form-data" method="POST" class="m-0" id="navigatorTemplateForm">
    {{ macros.modalHead(name="testcaseNavigator", title="Import MITRE Layer") }}
    <div class="mb-3">
        <p>Select your threat actor / ad-hoc TTP at <a href="https://mitre-attack.github.io/attack-navigator/" target="_blank">the Mitre ATT&CK Navigator</a> &gt; <code>Download Controls</code> &gt; <code>Download Layer as JSON</code>.</p>
        <label for="formFile" class="form-label">MITRE Layer .json</label>
        <input class="form-control" type="file" id="formFile" name="file" accept=".json,application/json">
    </div>
    {{ macros.modalTail(name="testcaseNavigator", cancelLabel="Close", actionLabel="Import") }}
</form>

<!-- Template Modal -->

<form action="/testcase/import/campaign" enctype="multipart/form-data" method="POST" class="m-0" id="campaignTemplateForm">
    {{ macros.modalHead(name="testcaseCampaign", title="Import Testcase Campaign") }}
    <div class="mb-3">
        <p>Select the <code>template.json</code> file output from <code>Export > Testcase Template</code>.</p>
        <input class="form-control" type="file" id="formFile" name="file" accept=".json,application/json" autocomplete="false">
    </div>
    {{ macros.modalTail(name="testcaseCampaign", cancelLabel="Close", actionLabel="Import") }}
</form>