<!-- Cloned test Toast -->
{{ macros.toast(title="Cloned") }}

<!-- Testcase Reset Toast -->
{{ macros.toast(title="Testcase Reset") }}

<!-- Testcase Delete Toast -->
{{ macros.toast(title="Testcase Deleted") }}

<!-- New Test Modal-->
<div class="modal fade" id="newtestcase" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Test Case</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Descriptive test case name" required>
                </div>

                <div class="mb-3">
                    <label for="mitreid" class="form-label">Mitre ID</label>
                    <br/>
                    <select class="selectpicker form-control border" data-live-search="true" data-size="10" name="mitreid" id="mitreid" required>
                        {% for mitre in mitres %}
                        <option data-subtext="{{ mitre[1] }}">{{ mitre[0] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <label for="phase" class="form-label">Phase / Tactic</label>
                    <select id="phase" name="phase" class="form-label form-select" required>
                        <option value="none" selected disabled hidden>Select...</option>
                        <option value="Reconnaissance">Reconnaissance</option>
                        <option value="Resource Development">Resource Development</option>
                        <option value="Initial Access">Initial Access</option>
                        <option value="Execution">Execution</option>
                        <option value="Persistence">Persistence</option>
                        <option value="Privilege Escalation">Privilege Escalation</option>
                        <option value="Defense Evasion">Defense Evasion</option>
                        <option value="Credential Access">Credential Access</option>
                        <option value="Discovery">Discovery</option>
                        <option value="Lateral Movement">Lateral Movement</option>
                        <option value="Collection">Collection</option>
                        <option value="Command and Control">Command and Control</option>
                        <option value="Exfiltration">Exfiltration</option>
                        <option value="Impact ">Impact</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="newTest()">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Select testcases from templates modal -->
<div class="modal fade" id="templatesModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select Testcases</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <table id="template-table" data-search="true" data-click-to-select="true" data-maintain-meta-data="true" data-sort-name="add" data-sort-order="desc" data-detail-view="true" data-detail-formatter="detailFormatter" data-filter-control="true" data-show-search-clear-button="true" data-height="600" data-silent-sort="false" data-pagination="true">
                        <thead>
                            <tr>
                                <th data-field="add" data-checkbox="true" data-sortable="true">Add</th>
                                <th data-field="src" id="nameField" data-filter-control="select">Src</th>
                                <th data-field="phase" data-sortable="true" data-filter-control="select">Phase</th>
                                <th data-field="technique">Technique</th>
                                <th data-field="title">Title</th>
                                <th data-field="html" data-visible="false">Details</th>
                                <th data-field="id" data-visible="false">ID</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for template in templates %}
                            <tr data-title="bootstrap table" data-object='{"key": "value"}' data-uniqueid="{{ template.id }}">
                                <td></td>
                                <td>{{ template.provider }}</td>
                                <td>{{ template.phase }}</td>
                                <td>{{ template.mitreid }} - {{ template.mitretitle }}</td>
                                <td>{{ template.name }}</td>
                                <td>{{ template.html|safe }}</td>
                                <td>{{ template.id }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary" onclick="newTest(true)" id="add-templates" style="display: none">Add Selected</button>
            </div>
        </div>
    </div>
</div>

<!-- MITRE Modal -->
<form action="/testcase/import/mitre" enctype="multipart/form-data" method="POST" class="m-0">
    <div class="modal fade" id="mitreImportModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="mitreImportModalLabel">Import MITRE Layer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p>Select your threat actor / ad-hoc TTP at <a href="https://mitre-attack.github.io/attack-navigator/" target="_blank">the Mitre ATT&CK Navigator</a> &gt; <code>Download Controls</code> &gt; <code>Download Layer as JSON</code>.</p>
                        <label for="formFile" class="form-label">MITRE Layer .json</label>
                        <input class="form-control" type="file" id="formFile" name="file" accept=".json,application/json">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Template Modal -->
<form action="/assessment/import/template/{{ ass.id }}" enctype="multipart/form-data" method="POST" class="m-0">
    <div class="modal fade" id="templateModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Import Testcase Template</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <p>Select the <code>template.json</code> file output from <code>Export > Testcase Template</code>.</p>
                        <input class="form-control" type="file" id="formFile" name="file" accept=".json,application/json" autocomplete="false">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Import</button>
                </div>
            </div>
        </div>
    </div>
</form>