{% extends "master.html" %}

{% block navpill %}
    <a role="button" class="btn btn-primary" title="Back" id="assessment-crumb-button" href="/assessment/{{ assessment.id }}">
        <i class="bi-arrow-left-circle-fill">&zwnj;</i>&nbsp;
        <span id="assessment-crumb">{{ assessment.name }}</span>
    </a>
{% endblock %}

{% block content %}

<div id="toolbar" class="m-2">
    <p class="d-inline-block" style="font-size:1.3em;margin: 0 10px 0 5px;font-weight:bold">Stats</p>
</div>
<div class="container-fluid">
    <div class="row mt-3">
        <div id="resultspie"></div>
    </div>
    <hr />
    <div class="row mt-3">
        <div id="results"></div>
    </div>
    <hr />
    <div class="row">
        <div id="alerts"></div>
    </div>
    <hr />
    <div class="row">
        <div id="priorities"></div>
    </div>
    <hr />
    <div class="row">
        <div id="controls"></div>
    </div>
    <hr />
    <div class="row">
        <div id="scores"></div>
    </div>
    <div class="row">
        <div id="resultsreconnaissance" style="width: 50%;"></div>
        <div id="resultsresourcedevelopment" style="width: 50%;"></div>
        <div id="resultsinitialaccess" style="width: 50%;"></div>
        <div id="resultsexecution" style="width: 50%;"></div>
        <div id="resultspersistence" style="width: 50%;"></div>
        <div id="resultsprivilegeescalation" style="width: 50%;"></div>
        <div id="resultsdefenseevasion" style="width: 50%;"></div>
        <div id="resultscredentialaccess" style="width: 50%;"></div>
        <div id="resultsdiscovery" style="width: 50%;"></div>
        <div id="resultslateralmovement" style="width: 50%;"></div>
        <div id="resultscollection" style="width: 50%;"></div>
        <div id="resultscommandandcontrol" style="width: 50%;"></div>
        <div id="resultsexfiltration" style="width: 50%;"></div>
        <div id="resultsimpact" style="width: 50%;"></div>
    </div>
    <div class="hex">
        <h6>MITRE ATT&amp;CK Chain</h6>
        {{ hexagons | safe }}
    </div>
</div>

<script>tacticStats = {{ stats | safe }}</script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/static/scripts/assessment.stats.js"></script>

{% endblock %}