{% extends "master.html" %}

{% block navpill %}
    <a role="button" class="btn btn-primary" title="Back" id="assessment-crumb-button" href="/assessment/{{ assessment.id }}">
        <i class="bi-arrow-left-circle-fill">&zwnj;</i>&nbsp;
        <span id="assessment-crumb">{{ assessment.name }}</span>
    </a>
{% endblock %}

{% block content %}

<iframe id="navigator" src="" width="100%" style="height: calc(100vh - 70px)"></iframe>

<script>
    $('#navigator').attr('src', `https://mitre-attack.github.io/attack-navigator/#layerURL=${window.location.href}.json?secret={{ secret }}&leave_site_dialog=false&tabs=false&header=false&layer_info=false`);
</script>

{% endblock %}