{% extends "master.html" %}
{% block content %}

<style>
    main {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 100px;
    }

    h1, #submit {
        text-align: center;
    }

    .form-check {
        margin-top: 10px;
    }

    .form-floating {
        margin-top: 10px;
    }
</style>
<main>
    <img class="mb-4" src="/static/images/logo.png" alt="" width="200" style="margin: 0 auto;display: block;">
    {%- with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
    {%- endwith %}
    <h1 class="h3 mb-3 fw-normal">Sign in</h1>
    <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
        {{ login_user_form.hidden_tag() }}
        <div class="form-floating">
            <input id="email" name="email" required type="email" value="" class="form-control" >
            <label for="email">Email Address</label> 
        </div>
        <div class="form-floating">
            <input id="password" name="password" required type="password" value="" class="form-control" >
            <label for="password">Password</label>
        </div>
        <div class="form-check">
            <input id="remember" name="remember" type="checkbox" value="y" class="form-check-input" >
            <label for="remember" class="form-check-label" >Remember Me</label> 
        </div>
        {{ macros.render_field_errors(login_user_form.email) }}
        {{ macros.render_field_errors(login_user_form.password) }}
        {{ macros.render_field_errors(login_user_form.csrf_token) }}
        <input id="submit" name="submit" type="submit" value="Login" class="btn btn-primary w-100 " >
    </form>
</main>

{% endblock %}