{% macro modalHead(name, title, xl=False) -%}
<div class="modal fade" id="{{ name }}Modal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog {% if xl %}modal-xl{% endif %}">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="{{ name }}Label">{{ title }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
{%- endmacro %}

{% macro modalTail(name, cancelLabel, actionLabel="", buttonClass="") -%}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ cancelLabel }}</button>
				{% if actionLabel %}
				<button type="submit" class="btn btn-primary {{ buttonClass }}" id="{{ name }}Button">{{ actionLabel }}</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>
{%- endmacro %}

{% macro toast(title) -%}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	<div id="toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header">
			<strong class="me-auto">{{ title }}</strong>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>
{%- endmacro %}

{% macro render_field_errors(field) -%}
<p>
	{{ field.label }} {{ field(**kwargs)|safe }}
	{% if field.errors %}
	<ul>
	{% for error in field.errors %}
		<li style="color:red">{{ error }}</li>
	{% endfor %}
	</ul>
	{% endif %}
</p>
{%- endmacro %}

{% macro render_field(field) -%}
<p>{{ field(**kwargs)|safe }}</p>
{%- endmacro %}

{% macro render_field_errors(field) -%}
<p>
	{% if field and field.errors %}
	<ul>
	{% for error in field.errors %}
		<li style="color:red">{{ error }}</li>
	{% endfor %}
	</ul>
	{% endif %}
</p>
{%- endmacro %}

{% macro logo() -%}
<img class="mb-4" src="/static/images/logo.png" alt="" width="200" style="margin: 0 auto;display: block;">
{%- endmacro %}