{% macro modalHead(name, title) -%}
<div class="modal fade" id="{{ name }}Modal" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="{{ name }}Label">{{ title }}</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
{%- endmacro %}

{% macro modalTail(name, cancelLabel, actionLabel) -%}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ cancelLabel }}</button>
				<button type="submit" class="btn btn-primary" id="{{ name }}Button">{{ actionLabel }}</button>
			</div>
		</div>
	</div>
</div>
{%- endmacro %}

{% macro toast(title) -%}
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
	<div id="toast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header">
			<strong class="me-auto">{{ title }}</strong>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
	</div>
</div>
{%- endmacro %}