{% extends "master.html" %}
{% block content %}

<style>
    main {
        max-width: 400px;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
    }

    .form-check {
        margin-top: 10px;
    }

    .form-floating {
        margin-bottom: 10px;
    }
</style>
<main class="form-mfa">
    <img class="mb-4" src="/static/images/logo.png" alt="" width="300" height="300">

    {%- with messages = get_flashed_messages(with_categories=true) -%}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
    {%- endwith %}

    <h1 class="h3 mb-3 fw-normal">Multi-Factor Authentication</h1>
    <form action="{{ url_for_security("two_factor_token_validation") }}" method="POST" name="two_factor_verify_code_form">
        {{ two_factor_verify_code_form.hidden_tag() }}
        {{ macros.render_field_errors(two_factor_verify_code_form.code) }}
        <div class="form-floating">
            <input id="code" name="code" placeholder="XXXXXX" type="text" value="" required class="form-control">
            <label for="code">Authentication Code</label> 
        </div>
        <input id="submit" name="submit" type="submit" value="Submit Code" class="btn btn-primary w-100 " >
    </form>
</main>
{% endblock %}