{% extends "master.html" %}
{% block content %}

<style>
    main {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
    }

    .form-check {
        margin-top: 10px;
    }

    .form-floating {
        margin-bottom: 10px;
    }

    #qrcode {
        background: white;
        margin: 10px;
    }
</style>
<main class="form-mfa">            
    <img class="mb-4" src="/static/images/logo.png" alt="" width="300" height="300">

    {%- with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}" role="alert">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {%- endwith %}

    <h1 class="h3 mb-3 fw-normal">Setup Multi-Factor Authentication (MFA)</h1>
    <form action="{{ url_for_security("two_factor_setup") }}" method="POST" name="two_factor_setup_form">
        {{ two_factor_setup_form.hidden_tag() }}
        <input id="setup-1" name="setup" type="radio" value="authenticator" checked="checked" style="display: none">
        {{ macros.render_field_errors(two_factor_setup_form.setup) }}
        <input id="submit" name="submit" type="submit" value="Generate QR Code" class="btn btn-primary w-100 " >
        {% if chosen_method=="authenticator" and chosen_method in choices %}
        <hr>
        <div class="center">
            <div>
            {{ _fsdomain("Open an authenticator app on your device and scan the following QRcode (or enter the code below manually) to start receiving codes:") }}
            </div>
            <div>
            <img alt="{{ _fsdomain("Two factor authentication code") }}" id="qrcode" src="{{ authr_qrcode }}">
            </div>
            <div>
            {{ authr_key }}
            </div>
        </div>
        {% endif %}
    </form>
    {% if chosen_method=="authenticator" and chosen_method in choices %}
    <hr>
    <form action="{{ url_for_security("two_factor_token_validation") }}" method="POST"
        name="two_factor_verify_code_form">
        {{ two_factor_verify_code_form.hidden_tag() }}
        <div class="form-floating">
            <input id="code" name="code" placeholder="XXXXXX" type="text" value="" required class="form-control">
            <label for="code">Authentication Code</label> 
        </div>
        <input id="submit" name="submit" type="submit" value="Submit Code" class="btn btn-primary w-100 " >
        {{ macros.render_field_errors(two_factor_verify_code_form.code) }}
    </form>
    {% endif %}

</main>
{% endblock %}