{% extends "master.html" %}
{% block content %}

<style>
    main {
        max-width: 300px;
        margin: 0 auto;
        margin-top: 100px;
        text-align: center;
    }

    .form-check {
        margin-top: 10px;
    }

    .form-floating {
        margin-top: 10px;
    }
</style>
<main>
    <img class="mb-4" src="/static/images/logo.png" alt="" width="300" height="300">
    {%- with messages = get_flashed_messages(with_categories=true) -%}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
            {{message}}
        </div>
        {% endfor %}
    {% endif %}
    {%- endwith %}
    <h1 class="h3 mb-3 fw-normal">Change Password</h1>
    <form action="{{ url_for_security('change_password') }}" method="POST" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        <div class="form-floating">
            <input autocomplete="current-password" id="password" name="password" type="password" value="" class="form-control">
            <label for="password">Password</label>
        </div>
        <div class="form-floating">
            <input autocomplete="new-password" id="new_password" name="new_password" required type="password" value="" class="form-control">
            <label for="new_password">New Password</label>
        </div>
        <div class="form-floating">
            <input autocomplete="new-password" id="new_password_confirm" name="new_password_confirm" required type="password" value="" class="form-control">
            <label for="new_password_confirm">Retype Password</label>
        </div>
        {{ macros.render_field_errors(change_password_form.password) }}
        {{ macros.render_field_errors(change_password_form.new_password) }}
        {{ macros.render_field_errors(change_password_form.new_password_confirm) }}
        <input id="submit" name="submit" type="submit" value="Change" class="btn btn-primary w-100 " >
    </form>
</main>

{% endblock %}