{% extends "master.html" %}
{% block content %}

<!-- Save Toast -->
<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
<div id="saveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">Saved</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
</div>
</div>

<!-- Source / Target / Tool Modal -->
<form class="m-0" id="multiForm" onsubmit="return multiSubmit(event)" data-action="" data-go="0" data-assid="{{ assessmentid }}" data-assname="{{ assessmentname }}">
    <div class="modal fade" id="manageMulti" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manageMultiLabel">ERROR</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">

                        <table id="manage-table">
                            <thead>
                                <tr>
                                    <th data-field="id" data-visible="false">ID</th>
                                    <th data-field="name" data-formatter="nameRowFormatter" id="nameField">Name</th>
                                    <th data-field="description" data-formatter="descRowFormatter">Description</th>
                                    <th data-field="delete" data-events="window.manageEvents" data-align="center" data-formatter="deleteRowFormatter">Delete
                                    </th>
                                    <!-- <th data-field="add" data-events="window.manageEvents" data-align="center" data-formatter="addRowFormatter">Add</th> -->
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
                <div class="modal-footer">                   
                    <button type="button" class="btn btn-outline-primary me-auto" onclick="addManageRow('manage-table')">New...</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Tag Modal -->
<form class="m-0" id="tagForm" onsubmit="return tagSubmit(event)" data-go="0" data-assid="{{ assessmentid }}" data-action="/assessment/tags/{{ assessmentid }}">
    <div class="modal fade" id="manageTags" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="manageTagsLabel">Manage Tags</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <table id="tag-table">
                            <thead>
                                <tr>
                                    <th data-field="id" data-visible="false">ID</th>
                                    <th data-field="name" data-formatter="nameRowFormatter" id="nameField">Name</th>
                                    <th data-field="colour" data-formatter="colourRowFormatter">Colour</th>
                                    <th data-field="delete" data-events="window.tagEvents" data-align="center" data-formatter="deleteRowFormatter">Delete
                                    </th>
                                    <!-- <th data-field="add" data-events="window.tagEvents" data-align="center" data-formatter="addRowFormatter">Add</th> -->
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary me-auto" onclick="addManageRow('tag-table')">New...</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Testcase Template Modal -->
<div class="modal fade" id="manageTest" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Testcase Description</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3" id="templateHTMLs">
                    {% for template in templates %}
                    <div id="template{{ template.id }}" style="display:none">
                        {{ template.html|safe }}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Testcase Template Modal -->
{% if mitrename %}
<div class="modal fade" id="ttpInfo" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ testcase.mitreid }} - {% if mitrename %}{{ mitrename }}{% else %}No such MitreID{% endif %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if kb %}
                <h3>Description</h3>
                <pre style="white-space: pre-wrap;word-wrap: break-word;">{{ kb.overview }}</pre>
                <h3>Recommendations</h3>
                <pre style="white-space: pre-wrap;word-wrap: break-word;">{{ kb.advice|safe }}</pre>
                {% endif %}
                {% if sigmas %}
                <h3>SIGMA Rules</h3>
                {% for sigma in sigmas %}
                <details>
                    <summary><b>{{ sigma.name }}</b> - <a href="/testcase/sigma/{{ sigma.id }}">Download</a> - <a href="{{ sigma.ref }}" target="_blank">Src</a><br/>{{ sigma.description }}</summary>
                    <code><pre class="border m-1 p-1">{{ sigma.raw }}</pre></code>
                </details>
                <br/>
                {% endfor %}
                {% endif %}
                {% if kb %}
                <h3>References</h3>
                <ul>
                    {% for r in kb.references %}
                    <li><a href="{{ r.url }}" target="_blank">{{ r.name }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <a href='{{ "https://attack.mitre.org/techniques/" ~ testcase.mitreid | replace(".", "/" )}}' target="_blank">MITRE Reference</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}

<form action="/testcase/run/{{ testcase.id }}" method="Post" id="ttpform" value="{{ testcase.id }}" style="max-width: 1600px; margin: 0 auto" enctype="multipart/form-data">
    <div class="container-fluid">
        <div class="row mt-3" style="margin: 0 -1px 0 -2px">
            <div class="col-7">
                <div class="input-group">
                    <span class="input-group-text">TTP</span>
                    <!-- <input type="text" name="mitreid" id="mitreid" class="form-control flex-grow-0" value="{{ testcase.mitreid }}" style="width: 7em" required> -->
                    <select class="selectpicker form-control flex-grow-0" data-live-search="true" data-size="10" name="mitreid" id="mitreid" required value="{{ testcase.mitreid }}" data-width="7em"{% if current_user.has_role("Blue") %} disabled{% endif %}>
                        {% for mitre in mitres %}
                        <option data-subtext="{{ mitre[1] }}"{% if mitre[0] == testcase.mitreid %} selected=""{% endif %}>{{ mitre[0] }}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="name" id="name" class="form-control" value="{{ testcase.name }}" required{% if current_user.has_role("Blue") %} disabled{% endif %}>
                    {% if mitrename %}
                    <button class="btn btn-secondary" type="button" title="Info" onclick="$('#ttpInfo').modal('show')">
                        <i class="bi-info-square-fill">&zwnj;</i>
                    </button>
                    {% endif %}
                </div>
            </div>
            <div class="col-2">
                <div class="input-group mb-3">
                    <span class="input-group-text">Phase</span>
                    <select id="phase" name="phase" class="form-select"{% if current_user.has_role("Blue") %} disabled{% endif %}>
                        {% for tactic in tactics %}
                        <option value="{{ tactic.name }}" {% if testcase.phase==tactic.name %} selected{% endif%}>
                            {{ tactic.name }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    <span class="input-group-text">Status</span>
                    <input id="state" name="state" type="text" class="form-control {% if testcase.state=="In progress" %}bg-warning{% endif%}{% if testcase.state=="Complete" %}bg-primary{% endif%}"
                        value="{{ testcase.state }}" disabled>
                    <!-- Pending / Running / Awaiting Blue / Complete -->
                </div>
            </div>
            <div class="col-1">
                <div class="btn-group w-100" role="group">
                    <a class="btn btn-outline-danger" href="/assessment/run/{{assessmentid}}" role="button" title="Return Without Saving">
                        <i class="bi-arrow-return-left">&zwnj;</i>
                    </a>
                    <button id="save" name="save" class="btn btn-success ms-2" type="submit" title="Save">
                        <i class="bi-check-square-fill">&zwnj;</i>
                    </button>
                </div>
            </div>
        </div>
        <hr class="m-0" />
        <div class="row">
            <!-- RED -->
            <div class="col m-2 me-0 border-end border-light">
                <div class="row my-2 align-items-center">
                    <div class="col-2">
                        <button id="run-button" name="run-button" type="button"
                            class="btn {% if testcase.state=="Pending" %}btn-outline-success{% endif%}{% if testcase.state=="In progress" %}btn-outline-warning{% endif%}{% if testcase.state=="Complete" %}btn-outline-primary{% endif%} btn-sm w-100" aria-pressed="false"
                            value="{{ testcase.state }}" onclick="updateState()"{% if current_user.has_role("Blue") %} disabled{% endif %}>{% if testcase.state=="Pending" %}Start{% endif%}{% if testcase.state=="In progress" %}Stop{% endif%}{% if testcase.state=="Complete" %}Restart{% endif%}</button>
                    </div>
                    <div class="col-4">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text text-danger" title="Start time">
                                <i class="bi-clock-history">&zwnj;</i>
                            </span>
                            <input id='time-start' name="starttime" type='text' class='form-control' placeholder="Start time" value="{% if testcase.starttime %} {{ testcase.starttime.strftime('%m/%d/%Y, %I:%M %P') }}{% endif %}"{% if current_user.has_role("Blue") %} disabled{% endif %}/>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text text-danger" title="End time">
                                <i class="bi-clock-fill">&zwnj;</i>
                            </span>
                            <input id='time-end' name="endtime" type='text' class='form-control' placeholder="Stop time" value="{% if testcase.endtime %} {{ testcase.endtime.strftime('%m/%d/%Y, %I:%M %P') }}{% endif %}"{% if current_user.has_role("Blue") %} disabled{% endif %}/>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="btn-group-sm text-end" role="group">
                            <select class="selectpicker" data-width="fit" data-live-search="true" autocomplete="off" value="" title="Go" onchange="location = this.value;" data-style-base="form-control-sm form-control">
                                {% for test in testcases | sort(attribute='state') %}
                                {% if not (current_user.has_role("Blue") and not test.visible) %}
                                <option value="/testcase/run/{{test.id}}">{{test.name}} ({{test.state}})</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            {% if not current_user.has_role("Blue") %}
                                <input type="checkbox" class="btn-check" name="visible" id="visible" autocomplete="off"{% if testcase.visible %} checked{% endif %}>
                                <label class="btn btn-outline-primary" for="visible"><i class="bi-eye">&zwnj;</i></label>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row my-3 d-flex">
                    <div class="col" style="max-width: 33.4%;">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text text-danger" id="source-label" onclick="manageMulti(this)"
                                style="cursor:pointer;" title="Manage Sources">
                                <i class="bi-send">&zwnj;</i>
                            </span>
                            <select class="selectpicker form-control" multiple data-live-search="true" title="Source(s)"
                                data-style="" data-style-base="form-control-sm form-control"
                                data-live-search-placeholder="Search..." data-width="auto" id="sources"
                                name="sources" onchange="manageMulti(this)" autocomplete="off" data-size="10"{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                <option data-icon="bi-gear">Manage</option>
                                <option data-divider="true"></option>
                                {% for source in testcase.sources %}
                                    <option selected class="dynopt-sources" value="{{ source }}"></option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col" style="max-width: 33.3%;">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text text-danger" id="target-label" onclick="manageMulti(this)"
                                style="cursor:pointer;" title="Manage targets">
                                <i class="bi-bullseye">&zwnj;</i>
                            </span>
                            <select class="selectpicker form-control" multiple data-live-search="true" title="Target(s)"
                                data-style="" data-style-base="form-control-sm form-control"
                                data-live-search-placeholder="Search..." data-width="auto" id="targets"
                                name="targets" onchange="manageMulti(this)" autocomplete="off" data-size="10"{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                <option data-icon="bi-gear">Manage</option>
                                <option data-divider="true"></option>
                                {% for target in testcase.targets %}
                                    <option selected class="dynopt-targets" value="{{ target }}"></option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col" style="max-width: 33.3%;">
                        <div class="input-group input-group-sm">
                            <span class="input-group-text text-danger" id="tool-label" onclick="manageMulti(this)"
                                style="cursor:pointer;" title="Manage Tools">
                                <i class="bi-tools">&zwnj;</i>
                            </span>
                            <select class="selectpicker form-control" multiple data-live-search="true" title="Tools(s)"
                                data-style="" data-style-base="form-control-sm form-control"
                                data-live-search-placeholder="Search..." data-width="auto" id="tools"
                                name="tools" onchange="manageMulti(this)" autocomplete="off" data-size="10"{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                <option data-icon="bi-gear">Manage</option>
                                <option data-divider="true"></option>
                                {% for tool in testcase.tools %}
                                    <option selected class="dynopt-tools" value="{{ tool }}"></option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <!-- <div id="list-example" class="list-group flex-row input-group-sm">
                            <a class="list-group-item-action input-group-text ms-0 m-1 text-danger mb-0 text-decoration-none rounded-0 rounded-top"
                                href="#red-overview">Overview</a>
                            <a class="list-group-item-action input-group-text m-1  text-danger mb-0 text-decoration-none rounded-0 rounded-top"
                                href="#red-objective">Objective</a>
                            <a class="list-group-item-action input-group-text m-1  text-danger mb-0 text-decoration-none rounded-0 rounded-top"
                                href="#red-actions">Actions</a>
                            <a class="list-group-item-action input-group-text m-1 text-danger mb-0 text-decoration-none rounded-0 rounded-top"
                                href="#red-notes">Notes</a>
                            <a class="list-group-item-action input-group-text m-1 me-0 text-danger mb-0 text-decoration-none rounded-0 rounded-top"
                                href="#red-references">References</a>
                        </div> -->
                        <!-- <div data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0"
                            class="scrollspy-example border p-2 rounded-bottom" tabindex="0"
                            style="max-height:400px;overflow-y:scroll"> -->
                            <!-- <div class="input-group blue-view" id="red-overview">
                                <span class="input-group-text px-1 text-danger"
                                    style="writing-mode: vertical-lr;">Overview</span>
                                <textarea class="form-control" name="overview" id="overview"
                                    style="min-height: 5em;">{{ testcase.overview }}</textarea>
                            </div> -->
                            <div class="input-group my-3 mt-0" id="red-objective">
                                <span class="input-group-text px-1 text-danger"
                                    style="writing-mode: vertical-lr">Objective</span>
                                <textarea class="form-control" name="objective" id="objective"
                                    style="min-height: 5em"{% if current_user.has_role("Blue") %} disabled{% endif %}>{{ testcase.objective }}</textarea>
                            </div>
                            <div class="input-group my-3" id="red-actions">
                                <span class="input-group-text px-1 text-danger"
                                    style="writing-mode: vertical-lr;">Actions</span>
                                {% if not current_user.has_role("Blue") %}
                                <div class="flex-grow-1 border rounded">
                                    <div class="input-group input-group-sm ref">
                                        <select class="form-select p-1" id="templateselect" autocomplete="off" onchange="templateChange(this)">
                                            <option selected hidden value="">Current</option>
                                            {% for template in templates %}
                                            <option value="template{{ template.id }}">{{ template.provider }} - {{ template.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="button"
                                            class="btn btn-light input-group-text border border-top-0 rounded-0"
                                            title="Command Info" onclick="templateModal()" id="template-info" style="display: none">
                                            <i class="bi-info-square">&zwnj;</i>
                                        </button>
                                    </div>
                                {% endif %}
                                    <textarea class="form-control" name="actions" id="actions" oninput="templateClear()"
                                        style="min-height: {% if not current_user.has_role("Blue") %}3{% else %}4.5{% endif %}em;font-family: monospace;font-size:0.94em;"{% if current_user.has_role("Blue") %} disabled{% endif %}>{{ testcase.actions }}</textarea>
                                {% if not current_user.has_role("Blue") %}
                                </div>
                                {% endif %}
                            </div>
                            <div class="input-group my-2" id="red-notes">
                                <span class="input-group-text px-1 text-danger"
                                    style="writing-mode: vertical-lr;">Notes</span>
                                <textarea class="form-control" name="rednotes" id="notes"
                                    style="min-height: 4em"{% if current_user.has_role("Blue") %} disabled{% endif %}>{{ testcase.rednotes }}</textarea>
                            </div>
                            <!-- <div class="input-group" id="red-references">
                                <span class="input-group-text px-1 text-danger"
                                    style="writing-mode: vertical-lr;">Refs</span>
                                <div class="flex-grow-1 border rounded" id="red-reflist">
                                    {% for ref in testcase.references or [{"name": "Mitre ATT&CK", "url": "https://attack.mitre.org/techniques/" ~ testcase.mitreid | replace(".", "/")}] %}
                                    <div class="input-group input-group-sm ref">
                                        <button type="button"
                                            class="btn btn-light input-group-text border border-top-0 rounded-0"
                                            title="New reference" onclick="referenceNew(this)">
                                            <i class="bi-plus-square">&zwnj;</i>
                                        </button>
                                        <input type="text" name="reftitle" id="reftitle"
                                            class="form-control rounded-0 border-top-0" value="{{ ref.name }}"
                                            placeholder="Link title">
                                        <a class="align-items-center input-group-text rounded-0 border-top-0  bg-light"
                                            href="{{ ref.url }}" role="button"
                                            target="_blank" title="Open link in new tab" id="reftab">
                                            <i class="bi-box-arrow-up-right">&zwnj;</i>
                                        </a>
                                        <input type="text" name="reflink" id="reflink"
                                            class="form-control rounded-0 border-top-0" oninput="referenceLink(this)"
                                            value="{{ ref.url }}" placeholder="URL">
                                        <button type="button" class="btn btn-light input-group-text border rounded-0"
                                            title="Delete reference" onclick="referenceDelete(this)">
                                            <i class="bi-trash">&zwnj;</i>
                                        </button>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div> -->
                        <!-- </div> -->
                    </div>

                </div>
                <div class="row">
                    <div class="row m-0">
                        <ul class="list-group p-0">
                            {% if not current_user.has_role("Blue") %}
                            <li class="list-group-item">
                                <div class="input-group input-group-sm">
                                    <label class="input-group-text text-danger" for="redfiles">Upload
                                        Evidence</label>
                                    <input type="file" class="form-control" id="redfiles" name="redfiles" multiple="multiple"{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                </div>
                            </li>
                            {% endif %}
                            {% for file in testcase.redfiles %}
                            <li class="list-group-item">
                                {% if not current_user.has_role("Blue") %}
                                <button type="button" class="btn btn-outline-danger btn-sm me-2" onclick="deleteFile(this, 'red', '{{ testcase.id }}', '{{ file.name }}')">
                                    <i class="bi-trash small">&zwnj;</i>
                                </button>
                                {% endif %}
                                <button type="button" class="btn btn-outline-primary btn-sm me-2" onclick="downloadFile(this, '{{ testcase.id }}', '{{ file.name }}')"{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                    <i class="bi-download small">&zwnj;</i>
                                </button>
                                <a href="/testcase/display/{{ testcase.id }}/{{ file.name }}" target="_blank" style="display:none;{% if (file.name|lower).endswith('.png') or (file.name|lower).endswith('.jpg') or (file.name|lower).endswith('.jpeg') %}display:inline;{% endif %}"><img class="img-fluid img-thumbnail" style="max-width: 80%" src="/testcase/display/{{ testcase.id }}/{{ file.name }}"/></a>
                                
                                <input style="margin-left: 6em; width:80%;display:none;{% if ((file.name|lower).endswith('.png') or (file.name|lower).endswith('.jpg') or (file.name|lower).endswith('.jpeg')) and not current_user.has_role("Blue") %}display:inline;{% endif %}" class="form-control form-control-sm" type="text" placeholder="Caption..." value="{{ file.caption }}" id="RED{{ file.path }}" name="RED{{ file.path }}"/>
                                <span class="name small" style="display:inline;{% if (file.name|lower).endswith('.png') or (file.name|lower).endswith('.jpg') or (file.name|lower).endswith('.jpeg') %}display:none;{% endif %}">{{ file.name }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- BLUE -->
            <div class="col m-2 ms-0 blue">
                <div class="row my-2">
                    <div class="col input-group-sm">
                        <!-- BLOCKED -->
                        <span class="input-group-text text-primary rounded-0 rounded-top border-bottom-0">Blocked</span>
                        <div class="form-group row m-0 py-2 rounded-bottom" style="border: 1px solid #ced4da">
                            <label class="col-6 col-form-label">Blocked</label>
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="blocked-yes" name="blocked" value="Yes"
                                        {% if testcase.blocked=="Yes" %} checked{% endif%}>
                                    <label class="form-check-label" for="blocked-yes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="blocked-partial" name="blocked" value="Partial"
                                        {% if testcase.blocked=="Partial" %} checked{% endif%}>
                                    <label class="form-check-label" for="blocked-partial">Partial</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="blocked-no" name="blocked" value="No"
                                        {% if testcase.blocked=="No" %} checked{% endif%}>
                                    <label class="form-check-label" for="blocked-no">No</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="blocked-na" name="blocked" value="N/A"
                                        {% if testcase.blocked=="N/A" %} checked{% endif%}>
                                    <label class="form-check-label" for="blocked-na">N/A</label>
                                </div>
                                <input class="form-check-input" type="radio" id="blocked-null" name="blocked" value=""{% if testcase.blocked==none %} checked{% endif%} hidden>
                            </div>
                            <div id="blockedrating-container" class="row m-0 p-0 my-1">
                                <label for="blockedrating" class="col-6 col-form-label">Block Rating <a href="/static/images/prevention_scoring.png" target="_blank" class="bi-question-circle">&zwnj;</a></label>
                                <div class="col-6">
                                    <select class="form-select p-1" id="blockedrating" name="blockedrating" value="{{testcase.blockedrating or ''}}"{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                        <option value="" hidden></option>
                                        <option value="N/A" hidden>N/A</option>
                                        {% for val in ["0.0", "0.5", "1.0", "1.5", "2.0", "2.5", "3.0", "3.5", "4.0", "4.5", "5.0"] %}
                                        <option value="{{ val }}" {% if testcase.blockedrating==val %} selected{% endif%}>{{ val }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <span class="input-group-text text-primary mt-3 rounded-0 rounded-top border-bottom-0">Priority</span>
                        <div class="form-group row m-0 py-2 rounded-bottom" style="border: 1px solid #ced4da">
                            <label class="col-6 col-form-label">Focus <a href="/static/images/priority_scoring.png" target="_blank" class="bi-question-circle">&zwnj;</a></label>
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="priority-prevent" name="priority" value="Prevent"
                                        {% if testcase.priority=="Prevent" %} checked{% endif%}{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                    <label class="form-check-label" for="priority-prevent">Prevent</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="priority-detect" name="priority" value="Detect"
                                        {% if testcase.priority=="Detect" %} checked{% endif%}{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                    <label class="form-check-label" for="priority-detect">Detect</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="priority-na" name="priority" value="N/A"
                                        {% if testcase.priority=="N/A" %} checked{% endif%}{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                    <label class="form-check-label" for="priority-detect">N/A</label>
                                </div>
                                <input class="form-check-input" type="radio" id="priority-null" name="priority" value=""{% if testcase.priority==none %} checked{% endif%} hidden>
                            </div>
                            <div class="my-1"></div>
                            <div id="urgency-container" class="row m-0 p-0 my-1">
                                <label for="priorityurgency" class="col-6 col-form-label">Urgency</label>
                                <div class="col-6">
                                    <select class="form-select p-1" id="priorityurgency" name="priorityurgency" value="{{testcase.priorityurgency or ''}}"{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                        <option value="" hidden></option>
                                        {% for val in ["Low", "Medium", "High"] %}
                                            <option value="{{ val }}" {% if testcase.priorityurgency==val %} selected{% endif%}>{{ val }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col input-group-sm">
                        <span class="input-group-text text-primary rounded-0 rounded-top border-bottom-0">Detected</span>
                        <div class="form-group row m-0 py-2 rounded-bottom" style="border: 1px solid #ced4da">
                            <label class="col-6 col-form-label">Alerted</label>
                            <div class="col-6">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="alert-yes" value="Yes"
                                        name="alerted" {% if testcase.alerted=="Yes" %} checked{% endif%}>
                                    <label class="form-check-label" for="alert-yes">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" id="alert-no" value="No"
                                        name="alerted" {% if testcase.alerted=="No" %} checked{% endif%}>
                                    <label class="form-check-label" for="alert-no">No</label>
                                </div>
                                <input class="form-check-input" type="radio" id="alert-null" name="alerted" value=""{% if testcase.alerted==none %} checked{% endif%} hidden>
                            </div>
                            <div id="alert-container" class="row m-0 p-0 my-1">
                                <label for="alert" class="col-6 col-form-label">Alert Severity</label>
                                <div class="col-6">
                                    <select class="form-select p-1" id="alert" name="alertseverity" value="{{testcase.alertseverity or ''}}">
                                        <option value="" hidden></option>
                                        {% for val in ["Informational", "Low", "Medium", "High", "Critical"] %}
                                        <option value="{{ val }}" {% if testcase.alertseverity==val %} selected{% endif%}>{{ val }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div id="logged-container" class="row m-0 p-0 my-1">
                                <label class="col-6 col-form-label">Logged</label>
                                <div class="col-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="log-yes" value="Yes"
                                            name="logged" {% if testcase.logged=="Yes" %} checked{% endif%}>
                                        <label class="form-check-label" for="log-yes">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="log-no" value="No"
                                            name="logged" {% if testcase.logged=="No" %} checked{% endif%}>
                                        <label class="form-check-label" for="log-no">No</label>
                                    </div>
                                    <input class="form-check-input" type="radio" id="logged-null" name="logged" value=""{% if testcase.logged==none %} checked{% endif%} hidden>
                                </div>
                            </div>
                            <div id="detection-container" class="row m-0 p-0 my-1">
                                <label for="colFormLabel" class="col-6 col-form-label">Detection Rating <a href="/static/images/detection_scoring.png" target="_blank" class="bi-question-circle">&zwnj;</a></label>
                                <div class="col-6">
                                    <select class="form-select p-1" id="detection-quality" name="detectionrating" value="{{testcase.detectionrating or ''}}"{% if current_user.has_role("Blue") %} disabled{% endif %}>
                                        <option value="" hidden></option>
                                        {% for val in ["0.0", "0.5", "1.0", "1.5", "2.0", "2.5", "3.0", "3.5", "4.0", "4.5", "5.0"] %}
                                        <option value="{{ val }}" {% if testcase.detectionrating==val %} selected{% endif%}>{{ val }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="input-group input-group-sm d-none">
                                <span class="input-group-text text-primary">
                                    <i class="bi-clock-fill">&zwnj;</i>
                                </span>
                                <input id='time-detect' name="detecttime" type='text' class='form-control' placeholder="Detection time" value="{{ testcase.detecttime }}"/>
                            </div>
                        </div>

                        <!-- TAGS -->
                        <div class="input-group input-group-sm mt-3">
                            <span class="input-group-text text-primary" id="controls-label" onclick="manageMulti(this)"
                                style="cursor:pointer;" title="Manage Controls">
                                <i class="bi-pause-circle">&zwnj;</i>
                            </span>
                            <select class="selectpicker form-control" multiple data-live-search="true" title="Control(s)"
                                data-style="" data-style-base="form-control-sm form-control"
                                data-live-search-placeholder="Search..." data-width="auto" id="controls"
                                name="controls" onchange="manageMulti(this)" autocomplete="off" data-size="10">
                                <option data-icon="bi-gear">Manage</option>
                                <option data-divider="true"></option>
                                {% for control in testcase.controls %}
                                    <option selected class="dynopt-controls" value="{{ control }}"></option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-group input-group-sm mt-3">
                            <span class="input-group-text text-primary" id="tags-label" onclick="manageTags(this)"
                                style="cursor:pointer;" title="Manage Tags">
                                <i class="bi-tags">&zwnj;</i>
                            </span>
                            <select class="selectpicker form-control" multiple data-live-search="true" title="Tag(s)"
                                data-style="" data-style-base="form-control-sm form-control"
                                data-live-search-placeholder="Search..." data-width="auto" id="tags"
                                name="tags" onchange="manageTags(this)" autocomplete="off">
                                <option data-icon="bi-gear">Manage</option>
                                <option data-divider="true"></option>
                                {% for tag in testcase.tags %}
                                    <option selected class="dynopt-tags" value="{{ tag }}"></option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="input-group">
                        <span class="input-group-text px-1 text-primary"
                            style="writing-mode: vertical-lr;">Observations</span>
                        <textarea class="form-control" name="bluenotes" id="bluenotes"
                            style="min-height: 7em">{{ testcase.bluenotes }}</textarea>
                    </div>
                </div>
                <!-- <div class="row my-3 blue-view">
                    <div class="input-group">
                        <span class="input-group-text px-1 text-primary"
                            style="writing-mode: vertical-lr;">Advice</span>
                        <textarea class="form-control" aria-label="With textarea" style="min-height: 5em" name="advice"
                            id="advice">{{ testcase.advice }}</textarea>
                    </div>
                </div> -->
                <!-- <div class="row my-3">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text text-primary">SIGMA Rules</span>
                        <div class="form-control">Yeah or nah? If so, bubbles like tag box which open modals</div>
                    </div>
                </div> -->
                <div class="row m-0">
                    <ul class="list-group p-0">
                        <li class="list-group-item">
                            <div class="input-group input-group-sm">
                                <label class="input-group-text text-primary" for="bluefiles">Upload
                                    Evidence</label>
                                <input type="file" class="form-control" id="bluefiles" name="bluefiles" multiple="multiple">
                            </div>
                        </li>
                        {% for file in testcase.bluefiles %}                                    
                        <li class="list-group-item">
                            <button type="button" class="btn btn-outline-danger btn-sm me-2" onclick="deleteFile(this, 'blue', '{{ testcase.id }}', '{{ file.name }}')">
                                <i class="bi-trash small">&zwnj;</i>
                            </button>
                            <button type="button" class="btn btn-outline-primary btn-sm me-2" onclick="downloadFile(this, '{{ testcase.id }}', '{{ file.name }}')">
                                <i class="bi-download small">&zwnj;</i>
                            </button>
                            <a href="/testcase/display/{{ testcase.id }}/{{ file.name }}" target="_blank" style="display:none;{% if (file.name|lower).endswith('.png') or (file.name|lower).endswith('.jpg') or (file.name|lower).endswith('.jpeg') %}display:inline;{% endif %}"><img class="img-fluid img-thumbnail" style="max-width: 80%" src="/testcase/display/{{ testcase.id }}/{{ file.name }}"/></a>
                                
                            <input style="margin-left: 6em; width:80%;display:none;{% if ((file.name|lower).endswith('.png') or (file.name|lower).endswith('.jpg') or (file.name|lower).endswith('.jpeg')) and not current_user.has_role("Blue") %}display:inline;{% endif %}" class="form-control form-control-sm" type="text" placeholder="Caption..." value="{{ file.caption }}" id="BLUE{{ file.path }}" name="BLUE{{ file.path }}"/>
                            <span class="name small" style="display:inline;{% if (file.name|lower).endswith('.png') or (file.name|lower).endswith('.jpg') or (file.name|lower).endswith('.jpeg') %}display:none;{% endif %}">{{ file.name }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</form>
<script src="/static/scripts/testcase.run_testcase.js"></script> 
{% endblock %}