<div class="col m-2 ms-0 blue">
	<div class="row my-2">
		<div class="col input-group-sm">
			<span class="input-group-text text-primary rounded-0 rounded-top border-bottom-0">Prevented</span>
			<div class="form-group row m-0 py-2 rounded-bottom" style="border: 1px solid #ededed">
				<label class="col-6 col-form-label">Prevented</label>
				<div class="col-6">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="prevented-yes" name="prevented" value="Yes"
							{% if testcase.prevented=="Yes" %} checked{% endif%}>
						<label class="form-check-label" for="prevented-yes">Yes</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="prevented-partial" name="prevented" value="Partial"
							{% if testcase.prevented=="Partial" %} checked{% endif%}>
						<label class="form-check-label" for="prevented-partial">Partial</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="prevented-no" name="prevented" value="No"
							{% if testcase.prevented=="No" %} checked{% endif%}>
						<label class="form-check-label" for="prevented-no">No</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="prevented-na" name="prevented" value="N/A"
							{% if testcase.prevented=="N/A" %} checked{% endif%}>
						<label class="form-check-label" for="prevented-na">N/A</label>
					</div>
					<input class="form-check-input" type="radio" id="prevented-null" name="prevented" value=""{% if testcase.prevented==none %} checked{% endif%} hidden>
				</div>
				<div id="preventedrating-container" class="row m-0 p-0 my-1">
					<label for="preventedrating" class="col-6 col-form-label">Prevention Rating</label>
					<div class="col-6">
						<select class="form-select p-1" id="preventedrating" name="preventedrating" value="{{testcase.preventedrating or ''}}"{% if current_user.has_role("Blue") %} disabled{% endif %}>
							<option value="" hidden></option>
							<option value="N/A" hidden>N/A</option>
							{% for val in ["0.0", "0.5", "1.0", "1.5", "2.0", "2.5", "3.0", "3.5", "4.0", "4.5", "5.0"] %}
							<option value="{{ val }}" {% if testcase.preventedrating==val %} selected{% endif%}>{{ val }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div id="preventiontime-container" class="input-group input-group-sm mt-3">
					<span class="input-group-text text-danger" title="Prevention time">
						<i class="bi-clock-history">&zwnj;</i>
					</span>
					<input type="hidden" name="timezone" id="timezone">
					<input id='time-preventtime' name="preventtime" type="datetime-local" class='form-control' autocomplete="off" value="{% if testcase.preventtime %}{{ testcase.preventtime.strftime('%Y-%m-%dT%H:%M') }}{% endif %}" {% if current_user.has_role("Spectator") %} disabled{% endif %}>
				</div>
				<div id="preventionsources-container" class="input-group input-group-sm mt-3">
					<span class="input-group-text text-primary" id="preventionsource-label" data-bs-toggle="modal" data-bs-target="#multiPreventionsourceModal"
						style="cursor:pointer;" title="Manage Prevention Source" >
						<i class="bi-send">&zwnj;</i>
					</span>
					<select class="selectpicker form-control" multiple data-live-search="true" title="Prevention Source(s)"
						data-style="" data-style-base="form-control-sm form-control"
						data-live-search-placeholder="Search..." data-width="auto" id="preventionsources"
						name="preventionsources" autocomplete="off" data-size="10">
						{% if not current_user.has_role("Spectator") %}<option data-icon="bi-gear">Manage</option>{% endif %}
						<option data-divider="true"></option>
						{% for preventionsource in multi.preventionsources %}
							<option {% if preventionsource.id|string in testcase.preventionsources %}selected{% endif %} class="dynopt-preventionsources" value="{{ preventionsource.id }}">{{ preventionsource.name }}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			<span class="input-group-text text-primary mt-3 rounded-0 rounded-top border-bottom-0">Expected Result</span>
			<div class="form-group row m-0 py-2 rounded-bottom" style="border: 1px solid #ededed">
				<div id="urgency-container" class="row m-0 p-0 my-1">
					<label for="priorityurgency" class="col-6 col-form-label">Priority</label>
					<div class="col-6">
						<select class="form-select p-1" id="priorityurgency" name="priorityurgency" value="{{testcase.priorityurgency or ''}}"{% if current_user.has_role("Blue") %} disabled{% endif %}>
							<option value="" hidden></option>
							<option value="N/A" hidden>N/A</option>
							{% for val in ["Low", "Medium", "High"] %}
								<option value="{{ val }}" {% if testcase.priorityurgency==val %} selected{% endif%}>{{ val }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div class="my-1"></div>
				<label class="col-6 col-form-label">State</label>
				<div class="col-6">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="priority-prevent-alert" name="priority" value="Prevent and Alert"
							{% if testcase.priority=="Prevent and Alert" %} checked{% endif%}{% if current_user.has_role("Blue") %} disabled{% endif %}>
						<label class="form-check-label" for="priority-prevent-alert">Prevented & Alerted</label>
					</div>					
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="priority-prevent" name="priority" value="Prevent"
							{% if testcase.priority=="Prevent" %} checked{% endif%}{% if current_user.has_role("Blue") %} disabled{% endif %}>
						<label class="form-check-label" for="priority-prevent">Prevented</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="priority-alert" name="priority" value="Alert"
							{% if testcase.priority=="Alert" %} checked{% endif%}{% if current_user.has_role("Blue") %} disabled{% endif %}>
						<label class="form-check-label" for="priority-alert">Alerted</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="priority-na" name="priority" value="N/A"
							{% if testcase.priority=="N/A" %} checked{% endif%}{% if current_user.has_role("Blue") %} disabled{% endif %}>
						<label class="form-check-label" for="priority-na">N/A</label>
					</div>
					<input class="form-check-input" type="radio" id="priority-null" name="priority" value=""{% if testcase.priority==none %} checked{% endif%} hidden>
				</div>
				<div class="my-1"></div>
				<div id="expectedalertseverity-container" class="row m-0 p-0 my-1">
					<label for="expectedalertseverity" class="col-6 col-form-label">Severity</label>
					<div class="col-6">
						<select class="form-select p-1" id="expectedalertseverity" name="expectedalertseverity" value="{{testcase.expectedalertseverity or ''}}"{% if current_user.has_role("Blue") %} disabled{% endif %}>
							<option value="" hidden></option>
							<option value="N/A" hidden>N/A</option>
							{% for val in ["Informational", "Low", "Medium", "High", "Critical"] %}
								<option value="{{ val }}" {% if testcase.expectedalertseverity==val %} selected{% endif%}>{{ val }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="col input-group-sm">
			<span class="input-group-text text-primary rounded-0 rounded-top border-bottom-0">Detected</span>
			<div class="form-group row m-0 py-2 rounded-bottom" style="border: 1px solid #ededed">
				<label class="col-6 col-form-label">Alerted</label>
				<div class="col-6">
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="alert-yes" value="Yes"
							name="alerted" {% if testcase.alerted %} checked{% endif%}>
						<label class="form-check-label" for="alert-yes">Yes</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" id="alert-no" value="No"
							name="alerted" {% if not testcase.alerted %} checked{% endif%}>
						<label class="form-check-label" for="alert-no">No</label>
					</div>
					<input class="form-check-input" type="radio" id="alert-null" name="alerted" value=""{% if testcase.alerted==none %} checked{% endif%} hidden>
				</div>
				<div id="alert-container" class="row m-0 p-0 my-1">
					<label for="alert" class="col-6 col-form-label">Alert Severity</label>
					<div class="col-6">
						<select class="form-select p-1" id="alertseverity" name="alertseverity" value="{{testcase.alertseverity or ''}}">
							<option value="" hidden></option>
							{% for val in ["Informational", "Low", "Medium", "High", "Critical"] %}
							<option value="{{ val }}" {% if testcase.alertseverity==val %} selected{% endif%}>{{ val }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="input-group input-group-sm mt-3">
						<span class="input-group-text text-danger" title="Alert time">
							<i class="bi-clock-history">&zwnj;</i>
						</span>
						<input type="hidden" name="timezone" id="timezone">
						<input id='time-alerttime' name="alerttime" type="datetime-local" class='form-control' autocomplete="off" value="{% if testcase.alerttime %}{{ testcase.alerttime.strftime('%Y-%m-%dT%H:%M') }}{% endif %}" {% if current_user.has_role("Spectator") %} disabled{% endif %}>
					</div>
				</div>
				<div id="logged-container" class="row m-0 p-0 my-1">
					<label class="col-6 col-form-label">Logged</label>
					<div class="col-6">
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="log-yes" value="Yes"
								name="logged" {% if testcase.logged %} checked{% endif%}>
							<label class="form-check-label" for="log-yes">Yes</label>
						</div>
						<div class="form-check form-check-inline">
							<input class="form-check-input" type="radio" id="log-no" value="No"
								name="logged" {% if not testcase.logged %} checked{% endif%}>
							<label class="form-check-label" for="log-no">No</label>
						</div>
						<input class="form-check-input" type="radio" id="logged-null" name="logged" value=""{% if testcase.logged==None %} checked{% endif%} hidden>
					</div>
				</div>
				<div id="detection-container" class="row m-0 p-0 my-1" hidden=true>
					<label for="colFormLabel" class="col-6 col-form-label">Detection Rating</label>
					<div class="col-6">
						<select class="form-select p-1" id="detectionrating" name="detectionrating" value="{{ testcase.detectionrating or ''}}"{% if current_user.has_role("Blue") %} disabled{% endif %}>
							<option value="" hidden></option>
							{% for val in ["0.0", "0.5", "1.0", "1.5", "2.0", "2.5", "3.0", "3.5", "4.0", "4.5", "5.0"] %}
							<option value="{{ val }}" {% if testcase.detectionrating == val %} selected{% endif%}>{{ val }}</option>
							{% endfor %}
						</select>
					</div>
				</div>
				<div id="detectionsources-container" class="input-group input-group-sm mt-3">
					<span class="input-group-text text-primary" id="detectionsource-label" data-bs-toggle="modal" data-bs-target="#multiDetectionsourceModal"
						style="cursor:pointer;" title="Manage Detection Source" >
						<i class="bi-send">&zwnj;</i>
					</span>
					<select class="selectpicker form-control" multiple data-live-search="true" title="Detection Source(s)"
						data-style="" data-style-base="form-control-sm form-control"
						data-live-search-placeholder="Search..." data-width="auto" id="detectionsources"
						name="detectionsources" autocomplete="off" data-size="10">
						{% if not current_user.has_role("Spectator") %}<option data-icon="bi-gear">Manage</option>{% endif %}
						<option data-divider="true"></option>
						{% for detectionsource in multi.detectionsources %}
							<option {% if detectionsource.id|string in testcase.detectionsources %}selected{% endif %} class="dynopt-detectionsources" value="{{ detectionsource.id }}">{{ detectionsource.name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="input-group input-group-sm d-none">
					<span class="input-group-text text-primary">
						<i class="bi-clock-fill">&zwnj;</i>
					</span>
				</div>
			</div>
			<div class="input-group input-group-sm mt-3" hidden=true>
				<span class="input-group-text text-primary" id="controls-label" data-bs-toggle="modal" data-bs-target="#multiControlModal" 
					style="cursor:pointer;" title="Manage Controls">
					<i class="bi-pause-circle">&zwnj;</i>
				</span>
				<select class="selectpicker form-control" multiple data-live-search="true" title="Control(s)"
					data-style="" data-style-base="form-control-sm form-control"
					data-live-search-placeholder="Search..." data-width="auto" id="controls"
					name="controls" autocomplete="off" data-size="10">
					{% if not current_user.has_role("Spectator") %}<option data-icon="bi-gear">Manage</option>{% endif %}
					<option data-divider="true"></option>
					{% for control in multi.controls %}
						<option {% if control.id|string in testcase.controls %}selected{% endif %} class="dynopt-controls" value="{{ control.id }}">{{ control.name }}</option>
					{% endfor %}
				</select>
			</div>
			<div class="input-group input-group-sm mt-3">
				<span class="input-group-text text-primary" id="tags-label" data-bs-toggle="modal" data-bs-target="#multiTagModal"
					style="cursor:pointer;" title="Manage Tags">
					<i class="bi-tags">&zwnj;</i>
				</span>
				<select class="selectpicker form-control" multiple data-live-search="true" title="Tag(s)"
					data-style="" data-style-base="form-control-sm form-control"
					data-live-search-placeholder="Search..." data-width="auto" id="tags"
					name="tags" autocomplete="off">
					{% if not current_user.has_role("Spectator") %}<option data-icon="bi-gear">Manage</option>{% endif %}
					<option data-divider="true"></option>
					{% for tag in multi.tags %}
						<option {% if tag.id|string in testcase.tags %}selected{% endif %} class="dynopt-tags" value="{{ tag.id }}" data-content="<span class='badge rounded-pill' style='background:{{ tag.colour }}'>{{ tag.name }}</span>">{{ tag.name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
	</div>
	<div class="row my-3">
		<div class="input-group">
			<span class="input-group-text px-1 text-primary"
				style="writing-mode: vertical-lr;">Notes</span>
			<textarea class="form-control" name="bluenotes" id="bluenotes"
				style="min-height: 4em">{{ testcase.bluenotes }}</textarea>
		</div>
	</div>
	<div class="row m-0">
		<ul class="list-group p-0" id="evidence-blue">
			<li class="list-group-item">
				<div class="input-group input-group-sm">
					<label class="input-group-text text-danger" for="bluefiles">Upload Evidence</label>
					<input type="file" class="form-control" id="bluefiles" name="bluefiles" multiple="multiple" autocomplete="off">
				</div>
			</li>
			{% for file in testcase.bluefiles %}
			<li class="list-group-item">
				<button type="button" class="btn btn-outline-danger btn-sm me-2 evidence-delete evidence-blue">
					<i class="bi-trash small">&zwnj;</i>
				</button>
				<a href="/testcase/{{ testcase.id }}/evidence/{{ file.name }}?download=true" class="btn btn-outline-primary btn-sm me-2">
					<i class="bi-download small">&zwnj;</i>
				</a>
				{% if (file.name|lower).endswith('.png') or (file.name|lower).endswith('.jpg') or (file.name|lower).endswith('.jpeg') %}
					<a href="/testcase/{{ testcase.id }}/evidence/{{ file.name }}" target="_blank">
						<img class="img-fluid img-thumbnail" style="max-width: 80%" src="/testcase/{{ testcase.id }}/evidence/{{ file.name }}"/>
					</a>
					<input style="margin-left: 6em; width:80%;" class="form-control form-control-sm" type="text" placeholder="Caption..." value="{{ file.caption }}" id="BLUE{{ file.name }}" name="BLUE{{ file.name }}"/>
				{% else %}
					<span class="name small">{{ file.name }}</span>
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</div>
</div>