<!-- Testcase Saved Toast -->
{{ macros.toast(title="Testcase Saved") }}

{% macro multiContent(type, description="description") -%}
<div class="mb-3">
    <div id="{{ type }}Toolbar">
        <button id="{{ type }}NewButton" class="btn btn-primary multiNew">New</button>
    </div>
    <table data-toggle="table" id="{{type}}Table" class="multiTable" data-unique-id="id" data-id-field="id" data-toolbar="#{{ type }}Toolbar" >
        <thead>
            <tr>
                <th data-field="id" data-visible="false">ID</th>
                <th data-field="name" data-formatter="nameFormatter" id="nameField">Name</th>
                <th data-field="{{ description }}" data-formatter="{{ description }}Formatter">{{ description | capitalize }}</th>
                <th data-field="delete" data-align="center" data-formatter="deleteFormatter">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for multi in multi[type] %}
            <tr data-title="bootstrap table" data-object='{"key": "value"}' id="{{ multi.id }}">
                <td>{{ multi.id }}</td>
                <td>{{ multi.name }}</td>
                <td>{{ multi[description] }}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{%- endmacro %}

{% for i in ["Source", "Target", "Tool", "Control", "Tag"] %}
    {{ macros.modalHead(name="multi" ~ i, title="Manage " ~ i ~ "s", xl=True) }}
        {% if i != "Tag" %}
            {{ multiContent(type=i | lower ~ "s") }}
        {% else %}
            {{ multiContent(type=i | lower ~ "s", description="colour") }}
        {% endif %}
    {{ macros.modalTail(name="multi" ~ i, cancelLabel="Cancel", actionLabel="Save", buttonClass="multiButton") }}
{% endfor %}

{{ macros.modalHead(name="ttpInfo", title=testcase.mitreid ~ " TTP Information", xl=True) }}
<h3>Description</h3>
<pre style="white-space: pre-wrap;word-wrap: break-word;">{{ kb.overview | safe }}</pre>
<h3>Recommendations</h3>
<pre style="white-space: pre-wrap;word-wrap: break-word;">{{ kb.advice }}</pre>
{% if sigmas %}
<h3>SIGMA Rules</h3>
<ul>
    {% for sigma in sigmas %}
    <li><a href='{{ sigma.url }}' target="_blank">{{ sigma.title }}</a><br/>{{ sigma.description }}</li>
    {% endfor %}
</ul>
{% endif %}
<h3>References</h3>
<ul>
    <li><a href='{{ "https://attack.mitre.org/techniques/" ~ testcase.mitreid | replace(".", "/" )}}' target="_blank">MITRE Reference</a></li>
</ul>
{{ macros.modalTail(name="ttpInfo", cancelLabel="Close") }}